* {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: 'myFont';
  src: url('font/Cafe24Danjunghae.ttf');
}

@font-face {
  font-family: 'myFont2';
  src: url('font/Cafe24Simplehae.ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  background: #323641;
  font-family: 'myfont2';
}

#btn_top {
  top: 470px;
  position: fixed;
  right: -15%;
  background-image: url(img/btn_top.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  display: none;
  transition: all 0.5s;
  cursor: pointer;
  animation: arrowHover 2s infinite;
}

#btn_top:hover {
  animation: none;
}

#header {
  top: 0px;
  font-family: 'myfont2';
  z-index: 1000000;
  width: 100%;
  height: 100px;
  background-color: mistyrose;
  position: fixed;
  display: none;
}

#header .khs {
  position: absolute;
  left: 300px;
  top: 30px;
  font-size: 23px;
  cursor: pointer;
}

#header ul {
  width: 50%;
  height: 100%;
  position: absolute;
  right: -2%;
  display: flex;
}

#header ul li {
  background-color: transparent;
  margin-top: 20px;
  width: 140px;
  height: 50px;
  list-style: none;
  margin-right: 30px;
  font-size: 23px;
  cursor: pointer;
}

#header ul li a {
  background-color: transparent;
  box-shadow: none;
  font-family: 'myfont2';
  color: black;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 15px;
}

#open {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.start {
  display: block;
  top: 350px;
  width: 130px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  transition: 0.5s;
}

.envelope {
  background: #ca336d;
  width: 100%;
  height: 80px;
  position: relative;
  box-shadow: 0 5px 0 #3a3d3c;
  margin: 85px 0 30px 0;
  z-index: 1;
}

.envelope:before,
.envelope:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.envelope:before {
  right: 0;
  border-bottom: 0px solid transparent;
  border-top: 80px solid transparent;
  border-right: 130px solid #dc447f;
  z-index: 1;
}

.envelope:after {
  left: 0;
  border-bottom: 0px solid transparent;
  border-top: 80px solid transparent;
  border-left: 130px solid #ea4c89;
  z-index: 1;
}

.open {
  border-right: 65px solid transparent;
  border-top: 40px solid #c8336c;
  border-left: 65px solid transparent;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  transform-origin: 0% 0%;
}

.paper {
  width: 110px;
  height: 75px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -55px;
  background: #f2f2f2;
  z-index: 0;
}

.paper:before {
  content: "";
  position: absolute;
}

.paper:before {
  width: 110px;
  height: 75px;
  background: rgba(177, 177, 177, 0.1);
  bottom: 0;
  left: 0;
}

.noti {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  color: #fff;
  font: bold 20px/36px "Helvetica";
  text-align: center;
  background: #2ecc71;
  box-shadow: 0 4px 0 rgba(216, 217, 216, 0.7);
  opacity: 0;
}

ul {
  margin: 25px auto 0 auto;
  padding: 0;
  display: block;
  width: 80%;
}

li {
  list-style: none;
  background: #d3d3d3;
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
}

li:nth-child(1) {
  width: 50%;
}

li:nth-child(2) {
  margin-bottom: 20px;
  width: 20%;
}

.go_hide {
  left: 7px;
  width: 120px;
  height: 30px;
  background: #878387;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font: bold 13px "myFont2";
  padding: 8px 15px;
  animation: click 2s infinite;
  position: relative;
}

.go_hide a {
  width: 100%;
  height: 100%;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font: bold 17px "myFont2";
  border: none;
  padding: 0;
  margin: 0;
}

.go_hide:active,
.go_hide:hover {
  animation: clickOn 1s infinite;
  background-color: #878387;
}


/* TRIGGER ANIMATIONS */
.is-active .open {
  animation: foldUp 1s ease-in-out;
  animation-fill-mode: forwards;
}

.is-active .paper {
  animation: paperUp 1.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  /* W3C and Opera */
}

.is-active .noti {
  animation: noti 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  /* W3C and Opera */
}

/* ANIMATIONS */
@keyframes foldUp {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(180deg);
    z-index: 0;
  }
}

@keyframes noti {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes paperUp {
  from {
    height: 75px;
  }

  60% {
    height: 130px;
  }

  70% {
    height: 110px;
  }

  80% {
    height: 130px;
  }

  90% {
    height: 120px;
  }

  100% {
    height: 130px;
  }
}

@keyframes click {
  25% {
    transform: scale(0.9, 1.1);

  }

  50% {
    transform: scale(1.1, 0.9);

  }

  75% {
    transform: scale(0.95, 1.05);

  }
}

@keyframes clickOn {
  25% {
    transform: scale(0.9, 1.1);
    transform: rotate(8deg);
  }

  50% {
    transform: scale(1.1, 0.9);
    transform: rotate(-8deg);
  }

  75% {
    transform: scale(0.95, 1.05);
    transform: rotate(0deg);
  }
}

#hide {
  width: 100%;
  height: 100%;
  display: none;
  transition: 0.5s;
  margin: 0 auto;
}

#infor,
#skill,
#pot,
#aboutme {
  width: 100%;
  height: 100%;
  background-color: #faf5e6;
  position: relative;
}

#infor {
  height: 100%;
  font-family: 'myFont2';
}

#infor_container {
  top: -210px;
  left: 200px;
  width: 50%;
  height: 90%;
  margin: 0 auto;
  position: relative;
}

#infor_informaition {
  width: 350px;
  position: relative;
  top: 120px;
  font-size: 20px;
}

#infor_informaition div {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
}

#char_back {
  left: 100px;
  top: 200px;
  position: relative;
  width: 23%;
  height: 29.8%;
  background-color: brown;
  display: none;
}

#char_head {

  position: relative;
  top: 40px;
  left: 16%;
  width: 67%;
  height: 63%;
  background-color: black;
  border-radius: 50%;
}

#char_face {
  position: absolute;
  border-radius: 0 0 50% 50%;
  left: 13%;
  top: 80px;
  width: 75%;
  height: 56%;
  background-color: bisque;
}

#char_eye1 {
  position: absolute;
  width: 10%;
  height: 9%;
  border-radius: 50%;
  background-color: black;
  left: 29%;
  top: 105px;
}

#char_eye2 {
  position: absolute;
  width: 10%;
  height: 9%;
  border-radius: 50%;
  background-color: black;
  left: 63%;
  top: 105px;
}

#char_nose {
  position: absolute;
  width: 10%;
  height: 9%;
  border-radius: 20%;
  background-color: black;
  left: 47%;
  top: 130px;
}

#infor h1 {
  position: absolute;
  font-size: 5em;
  color: #666;
  text-transform: uppercase;
  top: 70px;
  border-bottom: 10px solid #666;
  padding-bottom: 8px;
}

#infor span {
  position: absolute;
  font-size: 4em;
  color: #666666;
  text-transform: uppercase;
}

#infor_text {
  width: 100%;
  height: 600px;
  position: relative;
  top: 142px;
}

.infor_class_1 {
  top: 0px;
}

.infor_class_2 {
  top: 300px;
}

.infor_class_3 {
  top: 450px;
}

.arrow {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  border-bottom: #007aff;
  border-right: #007aff;

}

.infor_util {
  width: 40px;
  height: 40px;
  animation: arrowHover 2s infinite;
  position: absolute;
  left: 30% !important;
  top: 770px !important;
  transition: 2s;
}

@keyframes arrowHover {
  1% {
    transform: translateY(-20px);

  }

  70% {
    transform: translateY(1px);

  }
}

.infor_util:hover {
  animation: none;
}

/* skill 패이지 시작 */

#skill h1 {
  font-family: "myfont2";
  font-size: 60px;
  position: absolute;
  top: 90px;
  left: 50px;
}

#skill_container {
  position: relative;
  left: 5%;
  top: 230px;
  width: 65%;
  height: 75%;
  margin: 0 auto;
}

#skill_front {
  position: relative;
  width: 100%;
  height: 50%;
  top: -20px;
}

#skill_back {
  position: relative;
  width: 100%;
  height: 50%;
  top: 0px;
}

.front_skills {
  position: relative;
  width: 100%;
  height: 15%;
  margin-bottom: 20px;
}

.back_skills {
  position: relative;
  width: 100%;
  height: 15%;
  top: -50px;
  margin-bottom: 20px;
}

.front_skills img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0px;
}

.back_skills img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 3px;

}

#skill_graph {
  position: absolute;
  width: 600px;
  height: 20px;
  background-color: rgba(90, 92, 92, 0.4);
  top: 30px;
  margin-left: 17.1%;
  border-radius: 50px;
}

.skill_graph_percent {
  width: 0px;
  transition: 1.5s;
  background-color: cornflowerblue;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 30px;
  margin-left: 17.1%;
}

/* skill 패이지 끝 */

/* portfolio 패이지 시작 */
#pot h1 {
  font-family: "myfont2";
  font-size: 60px;
  position: absolute;
  top: 90px;
  left: 50px;
}

#pot_container {
  left: 0%;
  top: 250px;
  margin: 0 auto;
  position: relative;
  width: 75%;
  height: 75%;
}

#container_view {
  position: relative;
  width: 45%;
  height: 90%;
  margin: 0 auto;
}

#container_view .swiper-slide {
  width: 550px;
  height: 500px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: rgba(300, 2, 31, 0.1);

}

#container_view_wrap {
  display: flex;


}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 90% !important;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

#port_info {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: relative;
  z-index: 100000;
  transition: transform 1.3s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

#front {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
}

#front_img {
  width: 80%;
  height: 270px;
  margin: 0 auto;
}

#front_img video {
  width: 100%;
  height: 100%;
}

#front_information {
  width: 80%;
  height: 230px;
  margin: 0 auto;
  position: relative;
}

#front_text {

  position: absolute;
}

#front_util {
  width: 100%;
  position: absolute;
  height: 50px;
  top: 170px;
}

.git_java {
  cursor: pointer;
  width: 20%;
  position: absolute;
  left: 42%;
  display: block;
  transition: 0.5s;
}

.git_html {
  cursor: pointer;
  width: 20%;
  position: absolute;
  left: 15%;
  transition: 0.5s;
}

.home {
  cursor: pointer;
  width: 7%;
  position: absolute;
  left: 70%;
  transition: 05.s;
}

.git_java:hover,
.git_html:hover,
.home:hover {
  animation: clickOn 1s infinite;


}

#back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

#port_util {
  position: absolute;
  width: 550px;
  height: 80px;
  bottom: 0px;
  border-radius: 30px;
}

#pot_btn_left {
  position: absolute;
  top: 230px;
  left: 3%;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  border-bottom: 3px solid #007aff;
  border-left: 3px solid #007aff;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10000;
}

#pot_btn_right {
  position: absolute;
  top: 230px;
  right: 3%;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  border-bottom: 3px solid #007aff;
  border-right: 3px solid #007aff;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10000;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px)) !important;
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
  margin-right: 10px !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 530px;
  left: 20% !important;
  width: 100%;
  position: absolute;
}

/* portfolio 패이지 끝 */

/* aboutme 페이지 시작 */
#aboutme h1 {
  font-family: "myfont2";
  font-size: 60px;
  position: absolute;
  top: 90px;
  left: 50px;
}

#aboutme_container {
  position: relative;
  width: 65%;
  top: 220px;
  height: 70%;
  margin: 0 auto;

}

#aboutme_text {
  position: relative;
  top: 20px;
  width: 100%;
  height: 35%;
}

.span1,
.span2,
.span3 {
  position: absolute;
  transition: all 0.5s;
  display: none;
}

.span1 {
  left: 50%;
  margin-left: -100px;
  font-size: 40px;
}

.span2 {
  top: 60px;
  left: 50%;
  margin-left: -100px;
}

.span3 {
  top: 120px;
  left: 50%;
  margin-left: -100px;
}

#aboutme_contact {
  width: 100%;
  position: relative;
  top: 10%;
  height: 60%;
  left: -150%;
  transition: 0.5s;
}

.aboutme_me {
  margin: 0 auto;
  line-height: 6;
  width: 58%;
  height: 80px;
  border-bottom: 1px solid gainsboro;
}

.aboutme_me img {
  width: 40px;
  margin-right: 50px;
  animation: click 2s infinite;
  cursor: pointer;
}

.aboutme_me span {
  margin-left: 60px;
}

/* aboutme 페이지 끝 */

/* #footer{
  line-height: 15;
  margin-top: 20px;
  width: 100%;
  height: 300px !important;
  background-color: mistyrose;
  text-align: center;
  display: none;
} */

/* 반응형 */
@media only screen and (max-width: 1900px) {

  /*1900px 반응형*/
  #infor h1 {
    font-size: 4em;

  }

  #infor span {
    font-size: 3em;
  }

  #infor_informaition {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1600px) {

  /*1600px 반응형*/
  #infor h1 {
    font-size: 3em;
    top: 50px;
  }

  #infor span {
    font-size: 2em;
  }

  #infor_informaition {
    font-size: 15px;
  }

  .infor_class_2 {
    top: 220px;
  }

  .infor_class_3 {
    top: 320px;
  }

  .front_skills img {
    width: 60px;
    height: 60px;
  }

  .back_skills img {
    width: 60px;
    height: 60px;
  }


}

@media only screen and (max-width: 1300px) {

  /*1300px 반응형*/
  #header .khs {
    display: none;
  }

  #header ul {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    display: flex;
  }

  #header ul li {
    margin-right: 20%;
  }

  #aboutme h1,
  #skill h1,
  #pot h1 {
    font-size: 35px;
  }

  .front_skills img {
    width: 45px;
    height: 45px;
  }

  .back_skills img {
    width: 45px;
    height: 45px;
  }

  #skill_graph {
    top: 20px;
    width: 90%;
    height: 15px;
  }

  .skill_graph_percent {
    top: 20px;
    height: 15px;
  }

  #skill_graph_html {
    width: 80% !important;
  }

  #skill_graph_css {
    width: 80% !important;
  }

  #skill_graph_javascript {
    width: 75% !important;
  }

  #skill_graph_jquery {
    width: 75% !important;
  }

  #skill_graph_java {
    width: 80% !important;
  }

  #skill_graph_jsp {
    width: 70% !important;
  }

  #skill_graph_mysql {
    width: 65% !important;
  }

  #skill_graph_php {
    width: 60% !important;
  }

  #skill_graph_node {
    width: 65% !important;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 38% !important;
  }

  #container_view {
    width: 100%;
    overflow: hidden;
  }

  #pot_btn_left {
    left: -10%;
  }

  #pot_btn_right {
    right: -10%;
  }

  #aboutme_contact {
    font-size: 15px;
  }

  .aboutme_me img {
    width: 35px;
  }

  .aboutme_me {
    width: 70%;
  }
}

@media only screen and (max-width: 1100px) {
  .aboutme_me {
    width: 80%;
  }

  .aboutme_me img {
    width: 30px;
  }
}

@media only screen and (max-width: 1000px) {

  /*1000px 반응형*/
  #infor_text {
    left: -5%;
  }

  #aboutme h1,
  #skill h1,
  #pot h1 {
    font-size: 32px;
  }

  #btn_top {
    width: 40px;
    height: 40px;
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px)) !important;
  }
}

@media only screen and (max-width: 850px) {

  /*850px 반응형*/
  #aboutme h1,
  #skill h1,
  #pot h1 {
    font-size: 30px;
  }

  #infor_text {
    width: 100%;
    height: 400px;
    position: relative;
    top: 270px;
    left: -15%;
  }

  .infor_util {
    left: -20% !important;
    top: 870px !important;
  }

  #char_back {
    left: 50px;
    height: 15%;
  }

  #char_head {
    top: 40px;
    height: 57%;
  }

  #char_face {
    height: 56%;
    top: 34px;
  }

  #char_eye1 {
    top: 45px;
  }

  #char_eye2 {
    top: 45px;
  }

  #char_nose {
    top: 55px;
  }

  .front_skills img {
    width: 30px;
    height: 30px;
  }

  .back_skills img {
    width: 30px;
    height: 30px;
  }

  #skill_graph {
    top: 18px;
    height: 10px;
  }

  .skill_graph_percent {
    top: 18px;
    height: 10px;
  }

  .aboutme_me {
    width: 93%;
  }

  .aboutme_me img {
    width: 28px;
  }
}

@media only screen and (max-width: 800px) {

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 30% !important;
  }
}

@media only screen and (max-width: 730px) {

  /*730px 반응형*/
  #infor_text {
    left: -40%;
  }

  #char_back {
    left: 10px;
  }

  .infor_util {
    left: -35% !important;
  }

  #infor h1 {
    font-size: 2.5em;
    top: 35px;
  }

  #infor span {
    font-size: 1.5em;
  }

  #infor_informaition {
    font-size: 13px;
  }

  .infor_class_2 {
    top: 170px;
  }

  .infor_class_3 {
    top: 240px;
  }

  #infor_informaition {
    top: 50px;
  }

  #infor_informaition div {
    margin-top: 10px;
  }

  #header ul li {
    font-size: 20px;
  }

  #btn_top {
    width: 35px;
    height: 35px;
  }

  #container_view {
    width: 100%;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 31% !important;
  }

  .git_java {
    width: 25%;
  }

  .git_html {
    width: 25%;
  }

  .home {
    width: 10%;
  }

  #pot_btn_left {
    width: 23px;
    height: 23px;
  }

  #pot_btn_right {
    width: 23px;
    height: 23px;
  }

  .aboutme_me {
    width: 108%;
  }

  .aboutme_me span {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 600px) {

  #aboutme h1,
  #skill h1,
  #pot h1 {
    font-size: 25px;
  }

  #infor_text {
    left: -127%;
    width: 120%;
  }

  #char_back {
    left: 75px;
    top: 500px;
  }

  .infor_util {
    left: -48% !important;
  }

  #header ul {
    left: 62%;
  }

  .git_java {
    width: 30%;
    left: 35%;
  }

  .git_html {
    width: 30%;
  }

  .home {
    width: 14%;
  }

  .aboutme_me {
    width: 105%;
  }

  .aboutme_me span {
    margin-left: -15px;
  }

  .span2 {
    top: 70px !important;
  }
}

@media only screen and (max-width: 500px) {
  .infor_util {
    left: -75% !important;
    top: 910px !important;
  }

  #header ul li {
    font-size: 15px;
  }

  #header ul {
    left: 68%;
  }

  #btn_top {
    width: 30px;
    height: 30px;
    right: 3%;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 25% !important;
  }

  #pot_btn_left {
    width: 17px;
    height: 17px;
  }

  #pot_btn_right {
    width: 17px;
    height: 17px;
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 7px)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 7px)) !important;
  }

  .span2 {
    top: 80px !important;
  }
}

@media only screen and (max-width: 499px) {
  .infor_util {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  #infor_text {
    left: -155%;
    width: 120%;
  }
}

@media only screen and (max-width: 400px) {
  #infor_text {
    left: -165%;
    width: 120%;
  }
}

@media only screen and (max-width: 380px) {
  #infor_text {
    left: -175%;
    width: 120%;
  }

  #char_back {
    left: 50px;
    top: 500px;
  }

  #header ul {
    left: 75%;
  }

}

@media only screen and (max-width: 350px) {
  #infor_text {
    left: -180%;
    width: 120%;
  }

  #char_back {
    left: 40px;
    top: 500px;
  }
}

@media only screen and (max-width: 320px) {
  #infor_text {
    left: -200%;
    width: 150%;
  }

  #char_back {
    left: 20px;
    top: 500px;
  }

  #infor span {
    font-size: 1.1em;
  }

  #infor h1 {
    font-size: 2em;
    top: 35px;
  }

  #header ul {
    left: 81%;
  }
}

@media only screen and (max-width: 300px) {
  #infor_text {
    left: -220%;
    width: 150%;
  }

  #char_back {
    left: 15px;
    top: 500px;
  }

  #header ul {
    left: 75%;
  }
}

@media only screen and (max-width: 280px) {
  #infor_text {
    left: -250%;
    width: 150%;
  }

  #char_back {
    left: 5px;
    top: 460px;
  }

  #btn_top {
    width: 25px;
    height: 25px;
    right: 4%;
  }

  .aboutme_me img {
    width: 20px;
  }

  #aboutme_contact {
    width: 130%;
    position: relative;
    top: -7%;
    height: 60%;
    left: -20px !important;
    transition: 0.5s;
    font-size: 10px;
  }

  .span3 {
    top: 80px;
    left: 50%;
    margin-left: -100px;
    font-size: 12px;
  }

  .span2 {
    top: 50px !important;
    font-size: 12px;
  }

  .span1 {
    left: 50%;
    margin-left: -100px;
    font-size: 25px;
  }

  #aboutme_text {
    position: relative;
    top: 20px;
    width: 120%;
    height: 35%;
  }

  #container_view {
    width: 100%;
    top: -50px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {

    width: 50%;
  }

  .front_skills img {
    width: 30px;
    left: -20px;
    height: 30px;
  }

  .back_skills img {
    width: 30px;
    height: 30px;
    left: -20px;
  }

  #header ul {
    left: 90%;
  }

  #header ul li {
    font-size: 13px;
  }
}